.form-row {
    margin: 0 auto 1.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.form-row-element {
    padding-left: 1.5em;
}

.form-row-element input {
    width: 25em;
    margin: 0;
}

#btnSubmit {
    background-color: rgb(45, 173, 96);
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 0.5em;
    
}

form {
    margin: 2em;
    border: solid rgb(45, 173, 96) ;
}